*{
    margin: 0%;
    padding: 0%;
}
.imb{
    display: block;
    margin: auto;
    margin-top: 100px;
}
#bottle{
    transition: all 10s ease-out;
    width: 5%;
}
.btn{
    text-align: center;
    width: 100%;
    margin: auto;
}
.btnd{
    background-color: black;
    color: white;
    width: 70px;
    padding: 10px;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 25px;
    border: 1px solid;
}
.btnd:hover{
    cursor: pointer;
    background-color: coral;
    border: 1px solid #fff;
    color:#000;
}